extends layout

block content
  h1 My Todo List
  h2 Upcoming
  - each todo in todos
    - if (!todo.done)
      div
        input(type="checkbox")
        | #{todo.description}
      div
        | #{todo.due.toDateString()}
  h2 Done
  - each todo in todos
    - if (todo.done)
      div
        input(type="checkbox", checked="true")
        del #{todo.description}
      div
        | #{todo.due.toDateString()}