doctype 5
html(ng-app)
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(type='text/javascript', src='/javascripts/vendor/angular/angular.js')

    block head

  body
    block content